<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div id="app">
    {{users}}
    <button v-on:click="getData">get user</button>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            users: []
        },
        methods: {
            getDate: function () {
                let vm=this;
                axios.get('jsonplaceholder.typicode.come/users')
                    .then(function (response) {
                        // promise 이해필요 / 성공하면 response
                        console.log(response.data)
                        vm.users = response.data
                    })
                    .catch(function (error) {
                        // 실패하면 error
                        console.log(error)
                    });
            }
        }
    })
</script>
</body>
</html>