<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>

</head>
<body>
<div id="app">
    <app-header></app-header>
    <app-contents></app-contents>
    <app-footer></app-footer>>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
</body>
<script>
    // Vue.components('컴포넌트 이름',컴포넌트 내용)
    // 전역 컴포넌트 등록방식
    Vue.components('app-header', {
        template: '<h1>header</h1>'
    });
    Vue.components('app-contents', {
        template: '<div>contents</div>>'
    });
    // Vue.components('컴포넌트 이름',컴포넌트 내용)


    new Vue({
        el: '#app',
        components:{
            // 지역 컴포넌트 등록방식
            // '키' : '값'
            // '컴포넌트 이름' : '컴포넌트 내용'
            'app-footer':{
                template:'<footer>footer</footer>>'
            }
        }
    });
</script>
</html>