<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>

</head>
<body>
<div id="app">
    <!--    <app-header v-bind:프롭스 속성 이름="상위 컴포넌트의 데이터 이름"></app-header>-->
    <app-header v-bind:propsdata="message"></app-header>
    <app-contents v-bind:numdata="num"></app-contents>

</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
</body>
<script>
    let appHeader = {
        template: '{{propsdata}}',
        props: ['propsdata']
    }
    let appContents = {
        template: '{{numdata}}',
        props: ['numdata']
    }

    new Vue({
        el: '#app',
        // 지역변수
        components: {
            'app-header': appHeader,
            'app-contents': appContents
        },
        // 여기 루트 컴포넌트안에 data 가 들어오기 시작함
        data: {
            message: 'hi',
            num: 10
        }
    });
</script>
</html>
