<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="app">
    <div>
        <router-link to="/login">Login</router-link>
        <router-link to="/main">Main</router-link>
    </div>
    <router-view></router-view>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
<!--뷰 먼저 넣고, 그다음에 라우터 넣어야함-->
<script src="https://unpkg.com/vue-router@3.0.0/dist/vue-router.js"></script>
<script>
    const LoginComponent = {
        template: '<div>login</div>>'
    }

    const MainComponent = {
        template: '<div>main</div>>'
    }

    //    뷰 라우터 싱글 페이지 애플리케이션을 구현할 때 사용하는 라이브러리
    let routerStart = new VueRouter({
        // 페이지의 라우팅 정보
        routes: [
            // 로그인 페이지에 대한 정보
            {
                // 페이지의 url 정보
                path: '/login',
                // 해당 url에서 표시될 컴포넌트
                component: LoginComponent,
                name: 'login'
            },
            // 메인 페이지에 대한 정보
            {
                //     url은 main
                //     컴포넌트 이름은 MainComponent
                path: '/main',
                component: MainComponent,
                name: 'main'
            }
        ]
    });

    new Vue({
        el: '#app',
        router: routerStart
    });
</script>
</body>
</html>